.action--btn {
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 5px;
    height: auto;
    width: 80px;
    // padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #000000;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #ffffff;
    color: #000000;
}

button:disabled {
    cursor: not-allowed;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}