.card--container {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 257px 160px 50px;
  grid-template-areas: "image" "text";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;

  &__image {
    grid-area: image;
    background: #000000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }

  &__content {
    grid-area: text;
    margin: 25px;
  }
}

.card--container:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
