%generic-styles {
  backface-visibility: hidden;
	position: absolute;
	top: 0;
  left: 0;
}

.card--container {
  display: grid;
  grid-template-columns: 70px 70px 70px;
  grid-template-rows: 250px 70px;
  grid-column-gap: 55px;
  perspective: 1000px;

  &__image {
    @extend %generic-styles;
    z-index: 2;
    transform: rotateY(0deg);
  }

  &__content {
    @extend %generic-styles;
    transform: rotateY(180deg);
  }

  &__flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
}

.card--container:hover 
.flipper,
.card--container:hover 
.card--container__flipper {
	transform: rotateY(180deg);
}
